<div class="container col-4 mt-5">
  <h1>My Tasks</h1>

  <ul class="d-grid gap-3 list-unstyled">
    <% @tasks.each do |task| %>
      <li class="p-2 bg-light border d-flex justify-content-between">
      <%= link_to(task.title, task_path(task), class:"text-decoration-none") %>
      <%= link_to task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
      </li>
    <% end %>
  </ul>
  <br>
  <div class="btn btn-primary">
  <%= link_to "Add a new task", tasks_new_path, class: "text-white text-decoration-none"%>
  </div>
</div>
